.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.header {
  background-color: #004020;
  color: #ffffff;
}

.header h2 {
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 15px;
}

.banner {
  color: #ffffff;
  font-weight: bold;
}

.banner li {
  padding-top: 3px;
  padding-bottom: 3px;
}

.error-banner {
  background-color: #ff0000;
}

.success-banner {
  background-color: #00ff00;
  color: #000000;
}

.logged {
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}

#hideBanner {
  font-size: 20px;
}

.menu {
  background-color: #5f5f5f;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold !important;
}

.footer {
  margin-top: 30px;
  height: 150px;
  background-color: #004020;
  color: #ffffff;
}

.left-side-footer {
  font-size: 11px;
  padding-left: 35px;
  padding-top: 8px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-style: italic;
}

.left-side-footer li {
  list-style-type: circle;
}

.logo {
  padding-top: 25px;
  padding-left: 50px;
}

.middle-footer {
  text-align: center;
  font-family: "Segoe UI";
  padding-top: 20px;
  font-style: italic;
  font-weight: lighter;
}

.loginbar {
  margin-top: 30px;
  margin-right: 0px;
  float: right;
}

.loginbar a {
  color: #ffffff;
  font-family: Calibri;
}

.content {
  padding-top:40px;
}

.boldText {
  font-weight: bold;
}

.requiredStar{
  color: red;
  font-weight: bold;
}
