<div ng-controller="userCtrl" class="navbar-form navbar-right">
  <form ng-submit="logMeIn(user.login, user.password)" ng-show="!userLoggedIn">
    <div class="form-group">
      <input id="login" class="form-control" placeholder="{{ 'YOUR_LOGIN' | translate }}" type="text" ng-model="user.login" required>
    </div>
    <div class="form-group">
      <input id="password" class="form-control" placeholder="{{ 'YOUR_PASSWORD' | translate }}" type="password" ng-model="user.password" required>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'LOG_ME_BUTTON' | translate }}</button>
    <button type="button" class="btn btn-primary" ng-click="passwordRestoreRedirection()">{{ 'RESTORE_MY_PASSWORD_BUTTON' | translate }}</button>
  </form>
  <div class="logged" ng-show="userLoggedIn">
    <h5>{{ 'WELCOME' | translate }}  {{$parent.user.name}}!</h5>
    <button class="btn btn-primary" ng-click="logOut()">{{ 'LOGOFF' | translate }}</button>
  </div>
</div>
