<div class=loginbar ng-controller="userCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div ng-switch on="userLogedIn">
          <div ng-switch-when="1">
            <p> Logowanie powiodlo sie.. Tutaj bedzie mozna wyswietlac cos. Albo nic. No i do logowania jeszcze obluga bledow itp ale to jak bedzie API </p>
          </div>
          <div ng-switch-default>
            <form novalidate>
              {{ 'LOG_TEXT' | translate }}
              <input placeholder="{{ 'YOUR_LOGIN' | translate }}" type="text" ng-model="user.login">
              <input placeholder="{{ 'YOUR_PASSWORD' | translate }}" type="password" ng-model="user.password">
              <button ng-click="logMeIn(user.login, user.password)">{{ 'LOG_ME_BUTTON' | translate }}</button>
              <button ng-click="passwordRestoreRedirection()">{{ 'RESTORE_MY_PASSWORD_BUTTON' | translate }}</button>
            </form>
            <div class="alert alert-danger" ng-if="errors">
              <li ng-repeat="error in errors">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                {{error}}
              </li>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="userLogedIn == false" class="col-md-3">
        <form novalidate>
          <button ng-click="registerRedirection()">{{ 'CREATE_ACCOUNT_FOR_ME_BUTTON' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
