<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/')}">
            <a ng-href="/">{{ 'SUBPAGE_HOME' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/profile')}">
          <a ng-href="/">{{ 'SUBPAGE_PROFILE' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
