<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div collapse="isCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/')}">
            <a ng-href="/">{{ 'SUBPAGE_HOME' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/profile')}" ng-if="userLoggedIn">
          <a ng-href="/profile">{{ 'SUBPAGE_PROFILE' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/download')}">
          <a ng-href="/download">{{ 'SUBPAGE_DOWNLOAD' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/createLobby')}" ng-if="userLoggedIn">
          <a ng-href="/createLobby">{{ 'SUBPAGE_LOBBY' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/lobbyList')}" ng-if="userLoggedIn">
          <a ng-href="/lobbyList">{{ 'SUBPAGE_ACTIVE_GAMES' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/register')}" ng-if="!userLoggedIn">
          <a ng-href="/register">{{ 'CREATE_ACCOUNT_FOR_ME_BUTTON' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
