<nav ng-controller="userCtrl" class="navbar navbar-inverse menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/profile')}" ng-if="userLoggedIn">
          <a ng-href="/profile">{{ 'SUBPAGE_PROFILE' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/download')}">
          <a ng-href="/download">{{ 'SUBPAGE_DOWNLOAD' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/lobbyList')}" ng-if="userLoggedIn">
          <a ng-href="/lobbyList">{{ 'SUBPAGE_ACTIVE_GAMES' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/register')}" ng-if="!userLoggedIn">
          <a ng-href="/register">{{ 'CREATE_ACCOUNT_FOR_ME_BUTTON' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/scripts')}" ng-if="userLoggedIn">
          <a ng-href="/scripts">{{ 'SUBPAGE_SCRIPTS' | translate }}</a>
        </li>
        <li ng-class="{active: isActive('/scores')}" ng-if="userLoggedIn">
          <a ng-href="/scores">{{ 'SUBPAGE_MY_SCORES' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
