<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-warning-sign"></span>
          Coś poszło nie tak z aktywacją Twojego konta :(<br>
          W przypadku dalszych problemów skontaktuj się z administracją.
        </div>
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign"></span>
          Za chwilę nastąpi przekierowanie...
        </div>
        <div data-ng-init="afterActivation()"></div>
      </div>
    </div>
  </div>
</div>
