<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <div class="alert alert-success" role="alert">
          <span class="glyphicon glyphicon-ok"></span>
          Twoje konto zostało aktywowane<br>Możesz się teraz zalogować w formularzu powyżej.
        </div>
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign"></span>
          Za chwilę nastąpi przekierowanie...
        </div>
        <div data-ng-init="afterActivation()"></div>
      </div>
    </div>
  </div>
</div>
