<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-warning-sign"></span>
          {{ "SOMETHING_GOES_WRONG_IN_ACTIVATION" | translate }}<br>{{ "TRY_TO_CONTACT_WITH_ADMIN_IF_YOU_HAVE_PROBLEMS" | translate }}
        </div>
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign"></span>
          {{ "REDIRECTION_AFTER_MOMENT" | translate }}
        </div>
        <div data-ng-init="afterActivation()"></div>
      </div>
    </div>
  </div>
</div>
