<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Pobieranie SharpWars:</h1>
      <span class="boldText">Aktualna wersja gry:</span> 0.000001 alpha </br>
      <span class="boldText">Data wydania:</span> 17.07.2015</br>
      <span class="boldText">Zmiany od ostaniej wersji:</span></br>
        <ul>
          <li>Pielech twierdzi że już nie cieknie z Fukushimy</li>
          <li>Prototyp mocno</li>
          <li>Oddalam to pytanie</li>
        </ul>
        <a target="_self" href="downloads/SW00001.zip" download="SW00001.zip">Kliknij tutaj aby pobrać</a>
    </div>
  </div>
</div>
