<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Pobierz SharpWars</h2>
  </div>
  <div class="panel-body">
    <p><b>{{ 'GAME_VERSION' | translate }}:</b> {{ 'GAME_VERSION_TEXT' | translate }}</p>
    <p><b>{{ 'VERSION_DATE' | translate }}:</b> 05.10.2015</p>
    <p><b>{{ 'VERSION_CHANGES' | translate }}:</b></p>
    <ul>
      <li>{{ 'VERSION_CHANGES_1' | translate }}</li>
      <li>{{ 'VERSION_CHANGES_2' | translate }}</li>
      <li>{{ 'VERSION_CHANGES_3' | translate }}</li>
    </ul>
    <a target="_self" href="downloads/SW00001.zip" download="SW00001.zip"><button class="btn btn-success">{{ 'GAME_DOWNLOAD' | translate }}</button></a>
  </div>
</div>
