<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Pobierz SharpWars</h2>
  </div>
  <div class="panel-body">
    <p><b>{{ 'GAME_VERSION' | translate }}:</b> SharpWars v0.1</p>
    <p><b>{{ 'VERSION_DATE' | translate }}:</b> 22.11.2015</p>
    <p><b>{{ 'DESCRIPTION' | translate }}:</b></p>
    <ul>
      <li>Pierwsza stabilna wersja gry. Możliwa rozgrywka sieciowa</li>
      <li>Instrukcje znajdują się <a href="http://urbanek32.github.io/SharpWars_GameCore/">tutaj</a></li>
    </ul>
    <a target="_self" href="downloads/SW00001.zip" download="SW00001.zip"><button class="btn btn-success">{{ 'GAME_DOWNLOAD' | translate }}</button></a>
  </div>
</div>
