<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> {{ 'WHATS_NEW' | translate }}</h1>
        <p>Duży i Pielch tworzą pierwsze grywalne wersje gry! Endrius i ja robimy webserwis a ty użytkowniku już wkrótce będziesz mógł grać i bawić się aż padniesz trupem przy naszej grzei bawić się aż padniesz trupem przy naszej grzei bawić się aż padniesz trupem przy naszej grzei bawić się aż padniesz trupem przy naszej grzei bawić się aż padniesz trupem przy naszej grzei bawić się aż padniesz trupem przy naszej grze</p>
      <h1 class="page-header">Drugi news</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac lorem nec mi condimentum lobortis vitae sed odio. Nullam ac luctus nibh. Nam eu orci nec turpis imperdiet convallis. Curabitur eget lacinia justo. Maecenas pretium posuere urna vel venenatis. Suspendisse elementum lectus leo, vitae faucibus urna porttitor ac. Suspendisse purus sem, ultricies vitae commodo eu, ornare at sem. Nulla erat augue, euismod non augue quis, faucibus congue ante. Maecenas non odio turpis.
          Phasellus fermentum erat at laoreet vulputate. Maecenas rutrum urna vitae orci faucibus rutrum. Maecenas convallis odio non dolor vestibulum consectetur. In pellentesque dapibus elementum. Nunc fringilla est eu sagittis semper. Nunc hendrerit, ante euismod mattis maximus, lorem elit eleifend tortor, et varius nibh dolor porta diam. Nullam tristique scelerisque libero, eu cursus purus interdum placerat. </p>
    </div>
  </div>
</div>
