<div class="panel">
  <div class="panel-heading">
    <h2>{{ 'NEWS_1_TITLE' | translate }}</h2>
  </div>
  <div class="panel-body">
    <p>{{ 'NEWS_1_TEXT' | translate }}</p>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h2>{{ 'WHATS_NEW' | translate }}</h2>
  </div>
  <div class="panel-body">
    <p><b>{{ 'GAME_VERSION' | translate }}:</b> {{ 'GAME_VERSION_TEXT' | translate }}</p>
    <p><b>{{ 'VERSION_CHANGES' | translate }}:</b></p>
    <ul>
      <li>{{ 'VERSION_CHANGES_1' | translate }}</li>
      <li>{{ 'VERSION_CHANGES_2' | translate }}</li>
      <li>{{ 'VERSION_CHANGES_3' | translate }}</li>
    </ul>
  </div>
</div>
