<div ng-init="getUserInfo($parent.user.name)">
  <div class="col-lg-7">
    <div class="panel">
      <div class="panel-heading">
        <h2>{{ "LOBBY_LIST_TITLE" | translate }}</h2>
      </div>
      <div class="panel-body" ng-init="getLobbyList()">
        <table class="table" ng-show="lobbyLists.length">
          <thead>
            <tr>
              <th>{{ "LOBBY_TITLE" | translate }}</th>
              <th>{{ "LOBBY_CREATE_COUNT" | translate }}</th>
              <th><span class="glyphicon glyphicon-lock"></span></th>
              <th>{{ "LOBBY_OWNER" | translate }}</th>
              <th>{{ "LOBBY_STATUS" | translate }}</th>
              <th>{{ "LOBBY_ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="lobby.state !== 'play' ? 'success' : 'warning';
                          lobby.countOfMembers === lobby.players.length ? 'info' : ''"
                          ng-repeat="lobby in lobbyLists">
              <td>{{lobby.name}}</td>
              <td>{{lobby.players.length}}/{{lobby.countOfMembers}}</td>
              <td><span ng-class="lobby.encrypted ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-minus'"></span></td>
              <td>{{lobby.master}}</td>
              <td>{{lobby.state.toUpperCase()}}</td>
              <td>
                <span ng-click="joinToLobby($index, lobby)" ng-hide="lobby.master === user.name" title="{{ 'LOBBY_JOIN' | translate }}"
                      class="glyphicon glyphicon-plus btn btn-success btn-sm"></span>
                <span ng-click="deleteLobby(lobby.name)" ng-show="lobby.master === user.name" title="{{ 'DELETE' | translate }}"
                      class="glyphicon glyphicon-trash btn btn-warning btn-sm"></span>
              </td>
              <td>
                <form ng-show="showPasswordPopUp[$index]" ng-submit="joinToLobby($index, lobby, password)">
                  <input id="password" type="password" placeholder='{{ "PASSWORD" | translate }}' ng-model="password">
                  <button type="submit" class="btn btn-success btn-sm">{{ 'LOBBY_JOIN' | translate }}</button>
                  <button type="button" class="btn btn-warning btn-sm" ng-click="showPasswordPopUp[$index] = false">
                    {{ 'CANCEL_BUTTON' | translate }}</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-hide="lobbyLists.length">
          <p>{{ "EMPTY_LIST" | translate }}</p>
        </div>
        <div class="col-lg-12">
          <a ng-href="/createLobby">
            <button ng-disabled="activeLobby" class="btn btn-success btn-sm">{{ 'LOBBY_CREATE' | translate }}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5" ng-show="activeLobby">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>{{ "LOBBY_ACTIVE" | translate }}</h2>
      </div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr>
              <td><b>{{ "LOBBY_TITLE" | translate }}:</b></td>
              <td><i>{{ activeLobby.name }}</i></td>
            </tr>
            <tr>
              <td><b>{{ "LOBBY_OWNER" | translate }}:</b></td>
              <td><i>{{ activeLobby.master }}</i></td>
            </tr>
            <tr>
              <td><b>{{ "LOBBY_STATUS" | translate }}:</b></td>
              <td><i>{{ activeLobby.state }}</i></td>
            </tr>
            <tr>
              <td><b>{{ "LOBBY_PLAYERS" | translate }}:</b></td>
              <td>
                <ul ng-repeat="player in activeLobby.players">
                  <li>
                    <i>{{player.username}}</i>
                    <span ng-class="(player.state === 'ready' || player.state === 'play') ?
            'glyphicon glyphicon-ok-sign text-success' : 'glyphicon glyphicon-remove-sign text-danger'"
                  title="{{player.state === 'ready' ? 'ready' : 'waiting'}}"></span>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <button ng-show="user.name === activeLobby.master" type="button" class="btn btn-success" ng-click="startLobby(activeLobby.name)">
          {{ "LOBBY_START" | translate }}
        </button>
        <button type="button" class="btn btn-success" ng-click="changeMyStatus(activeLobby.name)">
          {{ "CHANGE_STATUS" | translate }}
        </button>
        <button ng-hide="user.name === activeLobby.master" type="button" class="btn btn-info" ng-click="leaveLobby(activeLobby.name)">
          {{ "LOBBY_LEAVE" | translate }}
        </button>
        <button ng-show="user.name === activeLobby.master" type="button" class="btn btn-danger" ng-click="deleteLobby(activeLobby.name)">
          {{ "LOBBY_DELETE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
