<div class="panel" ng-init="getUserInfo($parent.user.name)">
  <div class="panel-heading">
    <h2>{{ "SCORES_USER_SCORE" | translate }}:</h2>
  </div>
  <div class="panel-body" ng-init="getGameScoresForUser()">
    <p ng-show="playerScores">
      <p><b>{{ "SCORES_LAST_GAME_SCORE" | translate }}:</b> {{ playerScores.lastGameScore }}</p>
      <p><b>{{ "SCORES_LAST_GAME_TIME" | translate }}:</b> {{ playerScores.lastGameTime }}</p>
      <p><b>{{ "SCORES_LOSTS" | translate }}:</b> {{ playerScores.losts }}</p>
      <p><b>{{ "SCORES_VICTORIES" | translate }}:</b> {{ playerScores.victories }}</p>
      <p><b>{{ "SCORES_SUMMARY_SCORE" | translate }}:</b> {{ playerScores.summaryGameScore }}</p>
      <p><b>{{ "SCORES_SUMMARY_TIME" | translate }}:</b> {{ playerScores.summaryGameTime }}</p>

    <div ng-show="!playerScores">
      {{ "SCORES_NO_RESULTS" | translate }}
    </div>
  </div>
  <div class="panel-heading">
    <h2>{{ "SCORES_TOP_SCORES" | translate }}:</h2>
  </div>
  <div class="panel-body" ng-init="getTopScores()">
    <table class="table" ng-show="playerTopScores.length">
      <thead>
      <tr>
        <th>
          <span ng-click="setScoreParams('victories','asc')" class="glyphicon glyphicon-arrow-up btn btn-sm"></span>
          <span ng-click="setScoreParams('victories','des')" class="glyphicon glyphicon-arrow-down btn btn-sm"></span>
          {{ "REGISTRATION_LOGIN_NAME" | translate }}
        </th>
        <th>
          <span ng-click="setScoreParams('losts','asc')" class="glyphicon glyphicon-arrow-up btn btn-sm"></span>
          <span ng-click="setScoreParams('losts','des')" class="glyphicon glyphicon-arrow-down btn btn-sm"></span>
          {{ "SCORES_LOSTS" | translate }}
        </th>
        <th>
          <span ng-click="setScoreParams('victories','asc')" class="glyphicon glyphicon-arrow-up btn btn-sm"></span>
          <span ng-click="setScoreParams('victories','des')" class="glyphicon glyphicon-arrow-down btn btn-sm"></span>
          {{ "SCORES_VICTORIES" | translate }}
        </th>
        <th>
          <span ng-click="setScoreParams('summaryGameScore','asc')" class="glyphicon glyphicon-arrow-up btn btn-sm"></span>
          <span ng-click="setScoreParams('summaryGameScore','des')" class="glyphicon glyphicon-arrow-down btn btn-sm"></span>
          {{ "SCORES_SUMMARY_SCORE" | translate }}
        </th>
        <th>
          <span ng-click="setScoreParams('summaryGameTime','asc')" class="glyphicon glyphicon-arrow-up btn btn-sm"></span>
          <span ng-click="setScoreParams('summaryGameTime','des')" class="glyphicon glyphicon-arrow-down btn btn-sm"></span>
          {{ "SCORES_SUMMARY_TIME" | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="score in playerTopScores">
        <td>{{ score.username }}</td>
        <td>{{ score.losts }}</td>
        <td>{{ score.victories }}</td>
        <td>{{ score.summaryGameScore }}</td>
        <td>{{ score.summaryGameTime }}</td>
      </tr>
      </tbody>
    </table>
    <a ng-click="showMore()"><button class="btn btn-success btn-sm">{{ 'SCORES_SHOW_MORE' | translate }}</button></a>
  </div>
</div>
