<div class="container" ng-init="getUserInfo($parent.user.name)">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ "YOUR_SCRIPTS_LIST" | translate }}:</h1>
      <table class="table">
        <thead>
        <tr>
          <th>{{ "SCRIPTS_NAME" | translate }}</th>
          <th>{{ "SCRIPTS_DESCRIPTION" | translate }}</th>
          <th>{{ "LOBBY_ACTIONS" | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>PLACE HOLDER ONLY</td>
          <td>PLACE HOLDER ONLY</td>
          <td>PLACE HOLDER ONLY</td>
        </tr>
        </tbody>
        </table>
      </div>
    <div class="col-lg-12">
      <a ng-href="/scriptsSpec" class="btn btn-success btn-sm">{{ 'SCRIPTS_CREATE_NEW' | translate }}</a>
    </div>

  </div>
</div>
