<div class="container" ng-init="getUserInfo($parent.user.name)">
  <div class="row" ng-init="getScriptsList()">
    <div class="col-lg-12">
      <div ng-show="serverResponse" class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{ serverResponse }}
      </div>
      <div ng-show="errors" class="alert alert-danger">
        <li ng-repeat="error in errors">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {{ error }}
        </li>
      </div>
      <h1 class="page-header">{{ "YOUR_SCRIPTS_LIST" | translate }}:</h1>
      <table class="table">
        <thead>
        <tr>
          <th>{{ "SCRIPTS_NAME" | translate }}</th>
          <th>{{ "SCRIPTS_DESCRIPTION" | translate }}</th>
          <th>{{ "LOBBY_ACTIONS" | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="script in scriptLists">
          <td>{{ script.name }}</td>
          <td>{{ script.description }}</td>
          <td><span ng-click="deleteScript(script.name)" title="{{ 'DELETE' | translate }}"
                    class="glyphicon glyphicon-trash btn btn-warning btn-sm"></span>
          <span ng-click="editScript(script)" title="{{ 'EDIT_BUTTON' | translate }}"
                    class="glyphicon glyphicon-pencil btn btn-info btn-sm"></span></td>
        </tr>
        </tbody>
        </table>
      </div>
    <div class="col-lg-12">
      <a ng-href="/scriptsSpec" class="btn btn-success btn-sm">{{ 'SCRIPTS_CREATE_NEW' | translate }}</a>
    </div>
  </div>
</div>
